<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HYMSYS</title>
</head>

<body>
  <% for( let msgType in flashes ) { %>
    <div class="flashes">
      <p>
        <%= msgType %>
      </p>
      <% for( let msg of flashes[msgType] ) { %>
        <p>
          <%= msg %>
        </p>
        <% } %>
    </div>
    <% } %>