<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HYMSYS</title>
</head>

<body>
  <div class="flashes">
    <% for( let msgType in flashes ) { %>
      <p>
        <%= msgType %>
          <% for( let msg of flashes[msgType] ) { %>
            <%= msg %>
              <% } %>
      </p>
      <% } %>
  </div>